#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#

#
# Predix Machine - 17.1.0
#
# Configuration properties for the Predix Machine Device Auto-Enrollment Environment Info Service
#
# Service_PID = com.ge.dspmicro.autoenrollenv
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.

# [Optional] The name of the system environment variable that holds the path to a config INI file
#    Properties can be located either as environment variables or config INI properties
com.ge.dspmicro.autoenrollenv.configs="CAF_APP_CONFIG_FILE"

# [Required] The name of the system environment variable or config property that holds the serial number of the device.
com.ge.dspmicro.autoenrollenv.serial="CAF_SYSTEM_UDI"

# [Required] The name of the system environment variable or config property that holds the MAC address of the device.
com.ge.dspmicro.autoenrollenv.mac.address="MAC_ADDRESS"

# [Required] The name of the system environment variable or config property that holds the EdgeManager URL to which the device is enrolled.
com.ge.dspmicro.autoenrollenv.edge.manager.url="EDGE_MANAGER_URL"

# [Required] The name of the system environment variable or config property that holds the shared secret used to access EdgeManager
com.ge.dspmicro.autoenrollenv.sharedSecret="SHARED_SECRET"
