#
# 
# Copyright (c) 2012-2016 General Electric Company. All rights reserved.
#
# The copyright to the computer software herein is the property of
# General Electric Company. The software may be used and/or copied only
# with the written permission of General Electric Company or in accordance
# with the terms and conditions stipulated in the agreement/contract
# under which the software has been supplied.
#


#
# Predix Machine - 17.1.0
#
# Configuration properties for the Predix Machine cloud gateway
#
# Service_PID = com.ge.dspmicro.cloud.gateway
#


# Usage: 
# 
#       Properties set in this file may use the full property
#       name. For example:
#                  
#             <service_pid>.<property_key>=<property_value>



# Note: 
#
#       Properties in configuration files are subject to a delay
#       as they rely on the config-admin and fileinstall bundles.
#
# Format: 
#       type character followed by a quoted string representation of value. 
#          e.g a boolean -  property=B"true"
#       Lowercase type character implies primitives. Type can be omitted for String.
#       Types:
#           T = String            I = Integer            L = Long
#           F = Float             D = Double             X = Byte
#           S = Short             C = Character          B = Boolean
#
#       Array format is property=<type>["<value1>","<value2>"]. 
#           e.g. array of int - property=i["1", "2", "3"]
#       A backslash may be used to break up the line for clarity.

#
# [Required] Polling interval - The time (in seconds) to wait between the completion of the last poll and starting the next poll to the cloud.
# Max is 2592000 seconds (1 month). Min is 0 seconds.
# Using a polling interval of 0 will disable automatic polling.
#
com.ge.dspmicro.cloud.gateway.pollingInterval=I"30"

#
# [Required] Machine Info Upload Interval - The time (in seconds) to wait between uploading machine information to the cloud.
# Max is 2592000 seconds (1 month). Min is 0 seconds.
# Using a machine info upload interval of 0 will disable automatic upload of machine information.
#
com.ge.dspmicro.cloud.gateway.machineInfoUploadInterval=I"86400"

#
# [Required] Device Status Upload Interval - The time (in seconds) to wait between uploading device status information to the cloud.
# Max is 2592000 seconds (1 month). Min is 0 seconds.
# Using a device status upload interval of 0 will disable automatic upload of device status information.
#
com.ge.dspmicro.cloud.gateway.deviceStatusUploadInterval=I"30"

#
# [Optional] Retry Interval - The time (in seconds) to wait before retrying connection to cloud when poll to the cloud fails after enrollment.
# Max is 2592000 seconds (1 month). Min is 0 seconds.
# Using a retry interval of 0 will disable any retries when failure to poll from cloud.
#
com.ge.dspmicro.cloud.gateway.retryInterval=I"0"

#
# [Optional] Maximum Number of Retries - The maximum number of attempts to connect to the cloud after a failure to poll.
# Min is 0 retries.
#
com.ge.dspmicro.cloud.gateway.maxRetries=I"0"

#
# [Optional] Immediately upload any task status to the cloud when submitted to the Cloud Gateway service.
# Default is false, task status' will be uploaded on the next polling interval.
#
com.ge.dspmicro.cloud.gateway.uploadTaskStatusOnSubmitEnabled=B"false"

#
# [Optional] Initiate a Server connection to listen to events for pulling tasks.
# Default is false.
#
com.ge.dspmicro.cloud.gateway.serverNotificationEnabled=B"false"